{% extends 'base.html.twig' %}

{% block body %}
    <h2>About us</h2>
    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, atque commodi, delectus dignissimos dolor iste nobis numquam placeat qui quisquam repellendus suscipit. Ad atque, cupiditate dignissimos eaque eius fugiat incidunt!</span><span>Aliquam commodi cum cupiditate, distinctio doloremque dolorum ducimus ea excepturi facere fugiat fugit in, iusto libero minima minus, molestiae mollitia nobis qui quisquam quos ratione sed tempore vel voluptate voluptatem.</span><span>Harum hic iusto quae! Accusantium aspernatur culpa quisquam. A aliquid animi aspernatur aut autem consectetur corporis dolorem ea impedit libero magni, maiores natus nesciunt perferendis quidem similique suscipit. Quis, rerum.</span><span>Ab alias aliquid atque commodi consequuntur deserunt ex explicabo facilis impedit ipsam iste laborum neque quam, quasi, quibusdam, quo quod recusandae repellat sunt velit veniam vero vitae. Culpa, libero, rerum.</span><span>Beatae dicta, dolorem doloribus eveniet ipsa laudantium minima minus molestiae, necessitatibus nostrum odit quibusdam sunt, suscipit unde veniam voluptate voluptates. Aspernatur dolorem doloremque molestias nobis nostrum officia saepe sapiente suscipit.</span><span>Consequatur distinctio esse eum laboriosam optio placeat quae quos sequi similique voluptate. Neque possimus praesentium quas quibusdam! At id laudantium nisi sint unde. Iusto minus quod quos repudiandae sed voluptatem.</span>
    </p>
{% endblock %}

