{% extends 'base.html.twig' %}

{% block body %}

    <h2>Create a new wish !</h2>

    {#    {{ form_start(wishForm) }} #}
    {#    {{ form_widget(wishForm) }} #}
    {#    {{ form_end(wishForm) }} #}

    {{ form(wishForm) }}
{% endblock %}

