{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ wish.title }}</h2>
    <p><i>Created by {{ wish.author }} on {{ wish.dateCreated | date('Y-m-d') }}</i></p>
    <p>{{ wish.description }}</p>
{% endblock %}

