body {
    background-color: blanchedalmond;
}

img{
    width: 60px;
}

.flex-div{
    display: flex;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

main{
    min-height: 90vh;
}
