<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bucket !{% endblock %}</title>
    <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}">

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
</head>
<body>
<div class="container">
    <header>
        <h1 class="flex-div">
            <img src="{{ asset('images/logo.svg') }}" alt="logo bucket">
            <div>Bucket-List</div>
        </h1>
        {% include 'views/nav/nav.html.twig' %}
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer class="flex-div justify-center">
        &copy; Bucket-List {{ 'now' | date('Y') }}
    </footer>
</div>
</body>
</html>
